@font-face {
    font-family: 'Regular';
    src: url(../fonts/Rubik-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Medium';
    src: url(../fonts/Rubik-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'SemiBold';
    src: url(../fonts/Rubik-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Bold';
    src: url(../fonts/Rubik-Bold.ttf) format('truetype');
}