@import './fonts';

body {
    margin: 0;
}

.bold {
    font-family: 'Bold' !important;
}

.semiBold {
    font-family: 'SemiBold' !important;
}

.regular {
    font-family: 'Regular' !important;
}

.fullSize {
    padding: 0 !important;
}